
:root{
    --color-primary-DarkBlue: hsl(233, 26%, 24%);
    --color-primary-LimeGreen: hsl(136, 65%, 51%);
    --color-primary-Cyan: hsl(192, 70%, 51%);

    --color-secundary-GrayishBlue: hsl(233, 8%, 62%);
    --color-secundary-LightGrayishBlue: hsl(220, 16%, 96%);
    --color-secundary-VeryLightGray: hsl(0, 0%, 98%);
    --color-secundary-White :hsl(0, 0%, 100%);

    font-size: 18px;
}


*{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#sc-choose{
    
    width: 100%;
    transform: translate(0px,-140px);
    z-index: -1;
    background-color: var(--color-secundary-LightGrayishBlue);
}

#sc-choose{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;

}


#containerAll{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    row-gap: 10px;
    padding: 40px;
    padding-left:100px ;
    padding-top: 0;
    padding-bottom: 0;


}


#art-choose-text{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-bottom: 40px;

}

#art-choose-text>h2{
    overflow: hidden;
    font-weight:600;
    font-size: 2.4em;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-primary-DarkBlue);
}

#art-choose-text>p{
    overflow: hidden;
    font-weight: 400;
    font-size: 1.1rem;
    width: 100%;
    padding-top:20px ;
    color: var(--color-secundary-GrayishBlue);
}

#container-items-choose{

    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 130px;

    flex-wrap: nowrap;
    list-style: none;
}

.show{
    opacity: 1;
    transition: all .6s linear;
}

.hidden{
    opacity: 0;
    transition: all .6s linear;
}


#container-items-choose>li{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: 20px;
}

.item-choose{

    width: 320px;

    border-radius: 10px;

    padding: 20px;

    row-gap: 20px;
    font-size: 12px;
    transition: all .1s;
}



.item-choose>img{

    padding-top: 0px;
    padding-bottom: 8px;
    width: 80px;

}

.item-choose>.imgs{
    animation-name: animationIcon;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}



@keyframes animationIcon{
    0%{}
    100%{
        transform: translateY(-10px);
    }
}

.item-choose>h3{
    overflow: hidden;
    width: 100%;

    font-weight:600;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-primary-DarkBlue);
}
.item-choose>p{
  overflow: hidden;

  color: var(--color-secundary-GrayishBlue);
  font-weight: 400;
  font-size: 20px;


}


@media (max-width:1919px) {
    #container-items-choose{
        flex-wrap: wrap;
    }
}

@media (max-width:1840px) {

    .item-choose{
        width: 300px;
        height: 350px;
    }
}

@media (max-width:1440px) {
    .item-choose{
        width: 300px;
        height: 350px;
    }
}

@media (max-width:1180px) {

    
    #sc-choose{

        width: 100%;
        transform: translate(0px,0px);
        z-index: -1;
        background-color: var(--color-secundary-LightGrayishBlue);
    }

    #containerAll{
        padding-left: 0px;
        padding-right: 0px;
    }

    #container-items-choose{

        align-items: left;
    }

    .item-choose{

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item-choose>.imgs{
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .item-choose>img{
        
        text-align: center;

    }

    .item-choose>h3{
        text-align: center;
    }

    .item-choose>p{
        width: 100%;
        text-align: center;
    }
}

@media (max-width:450px) {
    #art-choose-text{

        
        padding: 10px;
    }

    #sc-choose{
        padding: 0px;
    }
}

@media (max-width:340px) {

 
    .item-choose>h3{
        font-size: 20px;
        text-align: center;
    }
    .item-choose{
        height: 380px;
    }
}



