:root{
    --color-primary-DarkBlue: hsl(233, 26%, 24%);
    --color-primary-LimeGreen: hsl(136, 65%, 51%);
    --color-primary-Cyan: hsl(192, 70%, 51%);

    --color-secundary-GrayishBlue: hsl(233, 8%, 62%);
    --color-secundary-LightGrayishBlue: hsl(220, 16%, 96%);
    --color-secundary-VeryLightGray: hsl(0, 0%, 98%);
    --color-secundary-White :hsl(0, 0%, 100%);

    font-size: 18px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 100vw;
}



#hd-cab{
    z-index: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: var(--color-secundary-White);
}

#hd{

    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#hd-cab>#hd>ul{
    display: flex;
    align-items: center;
    height: 90px;
    column-gap: 30px;
    list-style: none;
  
}

#hd-cab>#hd>ul>li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4px;
    height: 100%;
 
    font-size: 15px;
    font-weight: 400;
    padding: 8px;

    color: var(--color-secundary-GrayishBlue);
}


#hd-cab>#hd>ul>li:hover:after{
    content: '';
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;

    width: 100%;
    top: 40%;

    animation-name: identifier;
    animation-duration: .6s;

    border-bottom: .3em solid transparent;
    border-image: linear-gradient(to left,hsl(192, 70%, 51%),hsl(136, 65%, 51%));
    border-image-slice: 1;
}

.bt-requestInvite{
    position: relative;
    width: 180px;
    height: 50px;
    text-align: center;
    border-radius: 40px;
    background-image:linear-gradient(to left,hsl(192, 70%, 51%),hsl(136, 65%, 51%));
}
.burguer{
    display: none;
    width: 50px;
    height: 35px;
    transition: all .6s;
}

.burguer:hover{
    transform: scale(1.1,1.1);
}


@keyframes identifier {
    to{
        width: 100%;
    }

    from{
        width: 0%;
    }
}