

:root{
    --color-primary-DarkBlue: hsl(233, 26%, 24%);
    --color-primary-LimeGreen: hsl(136, 65%, 51%);
    --color-primary-Cyan: hsl(192, 70%, 51%);

    --color-secundary-GrayishBlue: hsl(233, 8%, 62%);
    --color-secundary-LightGrayishBlue: hsl(220, 16%, 96%);
    --color-secundary-VeryLightGray: hsl(0, 0%, 98%);
    --color-secundary-White :hsl(0, 0%, 100%);

    font-size: 18px;
}

*{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#sc-apresentation{

    z-index: -1;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;


    background-color: var(--color-secundary-White);

}

#sc-apresentation{
    background-image: url("../images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: 950px -250px ;

}


#text-apresentetion{
    width: 960px;

    height: 500px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.show{
    opacity: 1;
    transition: all .6s linear;
}

.hidden{
    opacity: 0;
    transition: all .3s linear;
}

.container-text{
    width: 750px;

    padding: 10px;

    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    position: relative;
    transform: translate(0px,-60px);
}

.width-button{
    padding: 0;
    width: 60%;

}

.container-text>h1{
    font-weight:400;
    font-size: 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--color-primary-DarkBlue);
    width: 60%;
}

.container-text>p{
  color: var(--color-secundary-GrayishBlue);
  font-weight: 400;
  font-size: 1.1rem;
  width: 60%;
}

.container-text>.space{
    animation-name: spaceAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    margin-top: 20px;
}

.bt-requestInvite.space{
    animation-name: spaceAnimationTwo;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    margin-top: 40px;
}

@keyframes spaceAnimation{
    0%{
        margin-top: 0px;
    }

    100%{
        margin-top: 20px;
    }
}

@keyframes spaceAnimationTwo{
    0%{
        margin-top: 0px;
    }

    100%{
        margin-top: 40px;
    }
}

#img-apresentation{    
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width:960px;
    height: 800px;

}


#sc-apresentation>#img-apresentation>#img-phone{
    position: relative;
    bottom: 60px;
    left: 200px;
    width: 750px;
    z-index: 1;


}

@media (max-width:1890px){
    #sc-apresentation>#img-apresentation>#img-phone{
        position: relative;
        bottom: 60px;
        left: 180px;
        width: 750px;
        z-index: 1;

    }
}


@media (max-width:1850px){
    #sc-apresentation>#img-apresentation>#img-phone{
        position: relative;
        bottom: 60px;
        left: 150px;
        width: 750px;
        z-index: 1;

    
    }
}

@media (max-width:1750px){
    #sc-apresentation>#img-apresentation>#img-phone{
        position: relative;
        bottom: 60px;
        left: 140px;
        width: 750px;
        z-index: 1;

    
    }
}

@media (max-width:1699px){
    #sc-apresentation>#img-apresentation>#img-phone{
        position: relative;
        bottom: 60px;
        left: 120px;
        width: 750px;
        z-index: 1;

    
    }
}

@media (max-width:1650px){
    #sc-apresentation>#img-apresentation>#img-phone{
        position: relative;
        bottom: 60px;
        left: 100px;
        width: 750px;
        z-index: 1;

    }
}


@media (max-width:1550px){
    #sc-apresentation>#img-apresentation>#img-phone{
        position: relative;
        bottom: 60px;
        left: 80px;
        width: 750px;
        z-index: 1;

    
    }
}



@media (max-width:1440px){



    
    #sc-apresentation{
        background-image: url("../images/bg-intro-desktop.svg");
        background-repeat: no-repeat;
        background-position: 700px -230px ;
    }
    
    #sc-apresentation>#img-apresentation>#img-phone{
        position: relative;
        bottom: 90px;
        left: 70px;
        width: 750px;
        z-index: 1;

    
    }
        
    }

@media (max-width:1366px){

    #sc-apresentation{
        background-image: url("../images/bg-intro-desktop.svg");
        background-repeat: no-repeat;
        background-position: 500px -260px ;
    }

    #sc-apresentation>#img-apresentation>#img-phone{
        position: relative;
        bottom: 100px;
        left: 70px;
        width: 780px;
        z-index: 1;

    
    }

}  

@media (max-width:1280px){
    #sc-apresentation>#img-apresentation>#img-phone{
        position: relative;
        bottom: 120px;
        left: 70px;
        width: 780px;
        z-index: 1;

    
    }
}


@media (max-width:1180px){

    #sc-apresentation{
    background-image: url("../images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position:100px -450px ;
    justify-content: center;
    }

    #text-apresentetion{

        align-items: center;
        justify-content: center;
        transform: translate(0px,0px);
    }

    #text-apresentetion{
        width:100%;
        height: max-content;

        padding-bottom: 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container-text{
        width: 100%;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        transform: translate(0px,0px);
        padding: 0;
    }

    .container-text>h1{
        text-align: center;
        width: 100%;
    }

    
    .container-text>p{
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        width: 35%;
    }

    .container-text>.width-button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }


    #img-apresentation{    
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width:100%;
        height: 500px;

    }


    #sc-apresentation>#img-apresentation>#img-phone{
        position: relative;
        bottom: 130px;
        left: 0px;
        width: 600px;
        min-width: 600px;
        z-index: 1;

    
    }
    #sc-apresentation{
        align-items: center;
        justify-content: center;
        flex-wrap: wrap-reverse;
    }
}

@media (max-width:700px){
    #sc-apresentation{
        background-image: url("../images/bg-intro-desktop.svg");
        background-repeat: no-repeat;
        background-size: 700px;
        background-position:-30px -50px ;

        justify-content: center;
        }
}

@media (max-width:900px){
    #text-apresentetion{

    }

    .container-text{


    }

    .container-text p{
        width: 350px;

    }
}



@media (max-width:400px){
    


    .container-text>h1{
        font-size: 2.7rem;
    }

    .container-text p{
        width: 100%;

    }

    #sc-apresentation{
        background-image: url("../images/bg-intro-desktop.svg");
        background-repeat: no-repeat;
        background-size: 700px;
        background-position:-30px -50px ;
        justify-content: center;
        }
}

@media (max-width:380px){
    
    .container-text{


    }

    .container-text>h1{
        font-size: 1.9rem;
    }

    .container-text p{
        width: 100%;

    }

    #sc-apresentation{
        background-image: url("../images/bg-intro-desktop.svg");
        background-repeat: no-repeat;
        background-size: 700px;
        background-position: -100px  -80px;
        justify-content: center;
        }
}
