@import url('https://fonts.googleapis.com/css2?family=Open+Sans:display=swap');

:root{
    --color-primary-DarkBlue: hsl(233, 26%, 24%);
    --color-primary-LimeGreen: hsl(136, 65%, 51%);
    --color-primary-Cyan: hsl(192, 70%, 51%);

    --color-secundary-GrayishBlue: hsl(233, 8%, 62%);
    --color-secundary-LightGrayishBlue: hsl(220, 16%, 96%);
    --color-secundary-VeryLightGray: hsl(0, 0%, 98%);
    --color-secundary-White :hsl(0, 0%, 100%);

    font-size: 18px;
}

*{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#sc-apresentation{

    z-index: -1;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;

}

#sc-apresentation{
    background-image: url("../images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: 950px -250px ;
}


#text-apresentetion{
    
    height: 700px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;

    

}


.show{
    opacity: 1;
    transition: all .6s linear;
}

.hidden{
    opacity: 0;
    transition: all .3s linear;
}

.container-text{
    width: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;  

    position: relative;
    transform: translate(0px,-60px);
}

.container-text>h1{
    font-weight:400;
    font-size: 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--color-primary-DarkBlue);
    width: 450px;
}

.container-text>p{
  color: var(--color-secundary-GrayishBlue);
  font-weight: 400;
  font-size: 1.1rem;
  width: 490px;
}

.container-text>.space{
    animation-name: spaceAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    margin-top: 20px;
}

.bt-requestInvite.space{
    animation-name: spaceAnimationTwo;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    margin-top: 40px;
}

@keyframes spaceAnimation{
    0%{
        margin-top: 0px;
    }

    100%{
        margin-top: 20px;
    }
}

@keyframes spaceAnimationTwo{
    0%{
        margin-top: 0px;
    }

    100%{
        margin-top: 40px;
    }
}

#img-apresentation{    
    overflow: hidden;
    position: relative;
    left: 10%;
    height: 800px;
}


#sc-apresentation>#img-apresentation>#img-phone{
    position: relative;
    bottom: 15%;
    left: 3%;
    width: 100%;
    z-index: 1;


}

@media (max-width:1440px){



    
    #sc-apresentation{
        background-image: url("../images/bg-intro-desktop.svg");
        background-repeat: no-repeat;
        background-position: 700px -230px ;
    }
    
        #img-apresentation{    

            overflow: hidden;
            position: relative;
            left: 0%;
            height: 800px;
        }
        
        
        #sc-apresentation>#img-apresentation>#img-phone{
            position: relative;
            bottom: 16%;
            left: 10%;
            z-index: 1;
        
        
        }
        
    }

@media (max-width:1366px){

    #sc-apresentation{
        background-image: url("../images/bg-intro-desktop.svg");
        background-repeat: no-repeat;
        background-position: 500px -260px ;
    }

    #text-apresentetion{
        
        height: 700px;
        display: flex;
        justify-content: center;
        flex-direction: column;

    }
    
    .container-text{

        padding: 10px;
        display: flex;
        flex-direction: column; 
        border: 1px solid red;
        justify-content: center;
        margin-left: 40px;
    }   

    #img-apresentation{    

        overflow: hidden;
        position: relative;
        left: 2%;
        height: 820px;
        
    }
    
    
    #sc-apresentation>#img-apresentation>#img-phone{
        position: relative;
        bottom: 10%;
        left: 12%;
        z-index: 1;
    
    
    }


}   